

.similar-properties-section {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    position: relative;
    top: 30vw;
    margin: 4vw 7vw;
    display: inline-flex;
    justify-content: space-between;
    width: 85%;
    height: 30vw;

    .header {
        color: black; 
        font-size: 1.8vw;
        font-family: 'Overpass';
        font-weight: 700;
        width: 85vw;
    }
}