

.similar-properties-section {
    position: relative;
    top: 40vw;
    margin: 4vw 7vw;
    width: 85%;
    height: 30vw;

    .header {
        color: black; 
        font-size: 1.8vw;
        font-family: 'Overpass';
        font-weight: 700;
        width: 85vw;
    }

    .similar-carousel {
        width: 114%;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        display: inline-flex;
        position: relative;
        left: -5vw;
    }

    .preview-div {
        margin: 1vw;
        overflow: unset !important;
    }
}