@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


.preview-div {
  position: relative;
  overflow: hidden;
  width: 17vw;
  height: 22vw;
  background: white;
  box-shadow: #0000000a 0px 7px 14px;
  border-radius: 7px;

  .preview-img-div {
    width: inherit;
  }
  
  img {
    width: inherit;
    height: 12vw;
    left: 0vw;
    top: 0vw;
    position: relative;
    box-shadow: #0000008c 0px 0px 13px 4px;
    border-radius: 10px;
    cursor: pointer;
  }

  .preview-slider-cont {
      width: 4vw;
      height: 1.2vw;
      left: 6.5vw;
      top: 10vw;
      position: absolute;
      background: #f3e4048c;
      border-radius: 1vw;
      backdrop-filter: blur(0.5vw);
  }

  .preview-slider-dots {
      width: 0.3vw;
      height: 0.3vw;
      top: 10.5vw;
      position: absolute;
      background: white;
      border-radius: 9999px;
      cursor: pointer;
  }

  .prop-det-div {
    width: 23.4vw;
    height: 13vw;
    left: 1vw;
    top: 10vw;
    position: absolute;
  }

  .preview-header {
    left: 0vw;
    top: 3vw;
    position: absolute;
    color: black;
    font-size: 0.9vw;
    font-family: Overpass;
    font-weight: 400;
    overflow-wrap: break-word;
  }

  .recom-fa {
    left: 0vw;
    top: 1vw;
    position: absolute;
    color: #127e00;
    font-size: 1vw;
    font-family: Overpass;
    font-weight: 400;
    overflow-wrap: break-word;
  }

  .fav-svg {
    color: #f24e1e;
    width: 1.5vw;
    height: 1.5vw;
    left: 12.2vw;
    top: 3vw;
    position: relative;
    font-weight: bold;
    cursor: pointer;
  }

  .fav-label {
    left: 11vw;
    top: 3vw;
    position: relative;
    color: black;
    font-size: 0.7vw;
    font-family: Overpass;
    font-weight: 400;
    overflow-wrap: break-word;
  }

  .bath-svg {
    width: 1.2vw;
    height: 1.2vw;
    left: 0vw;
    top: 6vw;
    position: absolute;
  }

  .bath-det {
    left: 1.5vw;
    top: 6.4vw;
    position: absolute;
    color: black;
    font-size: 0.6vw;
    font-family: Overpass;
    font-weight: 400;
    overflow-wrap: break-word;
  }

  .bed-svg {
    width: 1.2vw;
    height: 1.2vw;
    left: 6vw;
    top: 6.1vw;
    position: absolute;
  }

  .bed-det {
    left: 7.5vw;
    top: 6.4vw;
    position: absolute;
    color: black;
    font-size: 0.6vw;
    font-family: Overpass;
    font-weight: 400;
    overflow-wrap: break-word;
  }

  .area-svg {
    width: 1.1vw;
    height: 1.1vw;
    left: 10.5vw;
    top: 6vw;
    position: absolute;
  }

  .area-det {
    left: 12vw;
    top: 6.4vw;
    position: absolute;
    color: black;
    font-size: 0.6vw;
    font-family: Overpass;
    font-weight: 400;
    overflow-wrap: break-word;
  }

  .price-det {
    left: 0vw;
    top: 9vw;
    position: absolute;
    color: #127e00;
    font-size: 1.2vw;
    font-family: Overpass;
    font-weight: 700;
    overflow-wrap: break-word;
  }

  .view-det-div {
    width: 6vw;
    height: 1.6vw;
    left: 9vw;
    top: 9vw;
    position: absolute;
    background: green;
    border-radius: 5px;
    color: white;
    font-size: 0.8vw;
    font-family: Overpass;
    font-weight: 500;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.7vw;
    cursor: pointer;
  }
}


